#/bin/sh

if [ $# -lt 1 ]
then
        echo "Usage : update_pdata_to_db.sh <cloudname>"
        exit 1
else
        export http_proxy=
        CLOUDNAME=$1
        source {{ eemonhome }}/cloudhistory/.euca_$CLOUDNAME\_admin/eucarc
        euca-describe-addresses --debug 2> {{ eemonhome }}/cloudhistory/euca-describe-addresses_$CLOUDNAME\.xml
        tidy -xml -i -q -w 0 -o {{ eemonhome }}/cloudhistory/$CLOUDNAME\_tidy_describeadresses.xml < {{ eemonhome }}/cloudhistory/euca-describe-addresses_$CLOUDNAME\.xml
        #{{ eemonhome }}/cloudhistory/readinsertaccounts.py -n $CLOUDNAME -p {{ eemondbpasswd }} -u {{ dbusername }}  -port={{ pgport }} -x {{ eemonhome }}/cloudhistory/$CLOUDNAME\_tidy_accountlist.xml
        exit 0
fi
