#/bin/sh

if [ $# -lt 2 ]
then
        echo "Usage : update_instanceloaddata_to_db.sh <cloudname> <dbname>"
        exit 1
else
        export http_proxy=
        CLOUDNAME=$1
        DBNAME=$2
        cd {{eemohome}}/cloudhistory/
        curl -s -o $CLOUDNAME\load.xml http://{{ virttopxmladdress }}/fillrate/historyxml.php?cloud=$CLOUDNAME
        {{ eemonhome }}/cloudhistory/readinsertinstanceload.py -n $DBNAME -p {{ eemondbpasswd }} -u {{ dbusername }} -port={{ pgport }} -x {{ eemonhome }}/cloudhistory/$CLOUDNAME\load.xml
fi
